/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
    font-family: helvetica, sans-serif;
    font-size: 16px;
    color: #b97f6e;
    text-align: center;
}

header, nav, main, footer {
    max-width: none;
    min-width: none;
  /* the comma means apply the following CSS declarations to all of the listed elements */
  /* Declare the maximum width and other main element rules to limit the stretch on wide views */
}

header {
    background-color:#123133;
    text-align: center;
}
header h1 { color: #ffffff; }
.hamburger {
    display:block; 
    position:absolute; 
    top:2.0rem; 
    right:1.25rem;
    border: none;
    background-color: white;
}
@media only screen and (max-width:37.5em) {
    .navigation.responsive { position: relative; }
    .navigation.responsive li { background-color: "?"; display:block; 
    width:100%; margin:2px 0;}
    .navigation { list-style: none; padding-left: 0;}
    .navigation li { display: none; }
    
}
header img {}
header .subheading {
    text-align: center;
    padding: 5px;
    color: #ffffff;
}

nav {}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    background-color:#c1d7ae;
    text-align: center;
}

nav ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: #123133;
    text-decoration: none;
    text-align: center;
}

nav ul li.active a {}
nav ul li a:hover {
    color: #b97f6e;
    text-align: center;
}

main {}
main h2 { color:#b97f6e; }

main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img { width: 100%; }

section { background-color:#ffffff; }

main section img { width: 100%; }

section.forecast { display: none; }  

article p.town-article img {  /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
  width: 100%; /* fill the page in the small/phone view */
  margin: 0;
}

footer {
    background-color: #c1d7ae;
    text-align: center;
}

footer aside {
    background-color: #123133;
    color: #ffffff;
    text-align: center;
    display: block;
}

footer>p {}
/* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */